.info-screen {
    position: absolute;
    width: 32%;
    right: 0;
    top: 0;
    height: calc(51vw / 15 * 24);
    max-height: calc(560px * 0.51 / 15 * 24);
    top: 17%;
    border-left: 1px solid rgba(0, 0, 0, .75);
}
.info-block {
    position: absolute;
    right: 4px;
    text-align: right;
}
.level {
    top: 16px;
}
.lives {
    top: 142px;
}
.score {
    top: 58px;
}
.hi-score {
    top: 100px;
}
.value {
    font-weight: bold;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0;
}