@import '../../assets/styles/variables.scss';

.info-screen {
    position: absolute;
    width: 32%;
    right: 0;
    top: 0;
    height: calc(51vw / 15 * 24);
    max-height: calc(560px * 0.51 / 15 * 24);
    top: 17%;
    border-left: 1px solid $secondary-color;
}
.info-block {
    position: absolute;
    right: 4px;
    text-align: right;
}
.level {
    top: 5.7%;
}
.lives {
    top: 43.2%;
}
.score {
    top: 18.2%;
}
.hi-score {
    top: 30.8%;
}
.value {
    font-family: digital;
    font-size: 19px;
    letter-spacing: 0;
    font-weight: normal;
}
.heart::after {
    content: '♥&#xFE0E;';
}