.info-screen {
    position: absolute;
    width: 33%;
    right: 0;
    top: 0;
    height: 100vh;
    border-left: 1px solid rgba(0, 0, 0, .75);
}
.info-block {
    position: absolute;
    right: 8px;
    text-align: right;
}
.level {
    top: 36px;
}
.lives {
    top: 178px;
}
.score {
    top: 84px;
}
.hi-score {
    top: 132px;
}
.value {
    font-weight: bold;
    font-size: 23px;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 0;
}